[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MSMwRA"]
	path = MSMwRA
	url = https://github.com/cran/MSMwRA
[submodule "MVTests"]
	path = MVTests
	url = https://github.com/hsnbulut/mvtests
[submodule "RDnp"]
	path = RDnp
	url = https://github.com/cran/RDnp
[submodule "RobPC"]
	path = RobPC
	url = https://github.com/cran/RobPC
[submodule "SAP"]
	path = SAP
	url = https://github.com/cran/SAP
